body {
	background-color: #61826D;
    font-family: Arial, sans-serif;
	text-align: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

h1 {
    color: #EED3A5;
}

#paymentMethods {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paymentMethod {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.paymentMethod:hover {
    background-color: #f0f0f0;
}